/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
}

.products, .cart {
    margin-top: 20px;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-checkbox {
    margin-right: 10px;
}

.cart {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    text-align: center;
}

#total {
    font-weight: bold;
    font-size: 1.5em;
    color: #0b57d0;
}
